<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Finances </title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://unpkg.com/tachyons@4.12.0/css/tachyons.min.css" />

  <style>
    p {
      margin: 0;
    }

    li {
      margin-bottom: 1rem;
    }

    table,
    th,
    td {
      border: 1px solid black;
      padding: 0.5rem;
    }
  </style>
</head>

<body>
  <main>
    <nav>
      <h1> Navegação </h1>
      <ul>
        <li>
          <a href="/admin"> Admin </a>
        </li>
        <li>
          <a href="/"> Index </a>
        </li>
      </ul>
    </nav>
    <section>
      <h1> Fluxo de Caixa </h1>
      <ul>
        {% for key, value in meses.items %}
        <li>
          <a href="/fluxo_caixa/2021/{{ value }}"> {{key}} </a>
        </li>
        {% endfor %}
      </ul>
    </section>
  </main>
</body>

</html>